{{> ../../components/wrap-header.hbs}}

<main>
  <section class="section-big">
    <div class="rtg-slider"></div>
    <div class="section-big__left">
      <img class="section-big__logo-adaptive" src="@assets/icon/icon-logo-adaptive.svg" alt="">
      <h1 class="baner-heading igra igra-44">Быстрая доставка вкусной японской еды</h1>
      <a href="#"> <button class="button igra"> Посмотреть меню</button>
      </a>
    </div>
    <div class="section-big__right">
      <div class="swiper slider-baner">
        <div class="swiper-wrapper">

          <div class="swiper-slide slide-baner">
            <div class="slide-baner__img"><img src="@assets/img/img-susu-baner.png" alt=" "></div>
            <div>
              <h3 class="igra igra-14 igra-grey m-b-10">РОЛЛ</h3>
              <h3 class="igra igra-32 m-b-10">Маки</h3>
              <h3 class="roboto roboto-16 m-b-25">Лосось, рис, салат, кунжут, нори</h3>
              <div class="price">
                <div class="price__bg">
                  <div class="igra price__sum">320 P</div>
                </div>
                <div class="roboto roboto-14 m-l-25"> 260 гр / 6 шт.</div>
              </div>
              <div class="btn-add-cart m-t-43">
                <div class="rtg"></div>
                <div class="btn-add-cart__block">
                  <button class="btn-add-cart__plus"></button> 1
                  <button class="btn-add-cart__minus"></button>
                </div>

                <button class="button-white igra igra-14"> Добавить в корзину
                  <img class="m-l-10" src="@assets/icon/basket-icon.svg" alt=" ">
                </button>
              </div>
            </div>
          </div>

          <div class="swiper-slide slide-baner">
            <div class="slide-baner__img"><img src="@assets/img/img-susu-baner.png" alt=" "></div>
            <div>
              <h3 class="igra igra-14 igra-grey m-b-10">РОЛЛ</h3>
              <h3 class="igra igra-32 m-b-10">Маки</h3>
              <h3 class="roboto roboto-16 m-b-25">Лосось, рис, салат, кунжут, нори</h3>
              <div class="price">
                <div class="price__bg">
                  <div class="igra price__sum">320 P</div>
                </div>
                <div class="roboto roboto-14 m-l-25"> 260 гр / 6 шт.</div>
              </div>
              <div class="btn-add-cart m-t-43">
                <div class="rtg"></div>
                <div class="btn-add-cart__block">
                  <button class="btn-add-cart__plus"></button> 1
                  <button class="btn-add-cart__minus"></button>
                </div>

                <button class="button-white igra igra-14"> Добавить в корзину
                  <img class="m-l-10" src="@assets/icon/basket-icon.svg" alt=" ">
                </button>
              </div>
            </div>
          </div>

          <div class="swiper-slide slide-baner">
            <div class="slide-baner__img"><img src="@assets/img/img-susu-baner.png" alt=" "></div>
            <div>
              <h3 class="igra igra-14 igra-grey m-b-10">РОЛЛ</h3>
              <h3 class="igra igra-32 m-b-10">Маки</h3>
              <h3 class="roboto roboto-16 m-b-25">Лосось, рис, салат, кунжут, нори</h3>
              <div class="price">
                <div class="price__bg">
                  <div class="igra price__sum">320 P</div>
                </div>
                <div class="roboto roboto-14 m-l-25"> 260 гр / 6 шт.</div>
              </div>
              <div class="btn-add-cart m-t-43">
                <div class="rtg"></div>

                <div class="btn-add-cart__block">
                  <button class="btn-add-cart__plus"></button> 1
                  <button class="btn-add-cart__minus"></button>
                </div>

                <button class="button-white igra igra-14"> Добавить в корзину
                  <img class="m-l-10" src="@assets/icon/basket-icon.svg" alt=" ">
                </button>
              </div>
            </div>
          </div>


        </div>
        <div class="swiper-pagination pagination-baner"></div>
        <div class="background-grey"></div>
      </div>
    </div>
  </section>

  <section class="section-menu">

      <div class="row">
        <div class="col-xs-12
                    col-sm-12
                    col-md-6
                    col-lg-4">
          <div class="card-menu">
            <div class="igra igra-26">Роллы</div>

            <img src="@assets/img/img-susi.png" alt="" class="card-menu__img">

          </div>
        </div>

        <div class="col-xs-12
        col-sm-12
        col-md-6
        col-lg-4">
          <div class="card-menu">
            <div class="igra igra-26">Сеты</div>

            <img src="@assets/img/img-set.png" alt="" class="card-menu__img">

          </div>
        </div>

        <div class="col-xs-12
    col-sm-12
    col-md-6
    col-lg-4">
          <div class="card-menu">
            <div class="igra igra-26">Запеченные роллы</div>

            <img src="@assets/img/img-hot.png" alt="" class="card-menu__img">

          </div>
        </div>

        <div class="col-xs-12
    col-sm-12
    col-md-6
    col-lg-4">
          <div class="card-menu">
            <div class="igra igra-26">Воки</div>

            <img src="@assets/img/img-vok.png" alt="" class="card-menu__img">

          </div>
        </div>

        <div class="col-xs-12
    col-sm-12
    col-md-6
    col-lg-4">
          <div class="card-menu">
            <div class="igra igra-26">Супы</div>

            <img src="@assets/img/img-sup.png" alt="" class="card-menu__img">

          </div>
        </div>

        <div class="col-xs-12
    col-sm-12
    col-md-6
    col-lg-4">
          <div class="card-menu">
            <div class="igra igra-26 ">Напитки</div>

            <img src="@assets/img/img-drinks.png" alt="" class="card-menu__img">

          </div>
        </div>

      </div>
    
  </section>

  <section class="section-popular">

    <h2 class="h2">Популярное</h2>

    <div class="swiper slider-popular">
      <div class="swiper-wrapper">
        {{#each cards}}
        {{> ../../components/card-slider.hbs}}
        {{/each}}
      </div>
      <div class="scrollbar-popular"></div>
    </div>
  </section>
</main>

{{> ../../components/wrap-footer.hbs}}