@font-face {
  font-family: "Igra Sans";
  src: url("~@assets/font/IgraSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.test{
  width: 100%;
}
textarea {
  resize: none;
  outline: none;
}

.display-flex {
  display: flex;
}

.heading {
  font-size: 26px;
  margin: 60px 0 30px 0;
}

.h2 {
  font-size: 26px;
  margin-bottom: 22px;
  font-family: "Igra Sans";
  color: #404040;
}

.order-text-after {
  &::after {
    content: "*";
    color: #f0af3b;
  }
}

.input-order {
  border: solid 2px #f5f5f5;
  border-radius: 6px;
  width: 100%;
  padding: 14px 20px;
  width: 332px;
  font-family: "Roboto", sans-serif;
  color: #404040;
  font-size: 14px;

  &__comments {
    height: 153px;
  }
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
  }
}

.section-big {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 519px;
  z-index: 2;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);

  &__left {
    z-index: 2;
  }

  &__right {
    z-index: 2;
  }

  &__logo-adaptive {
    display: none;
  }
}

.section-menu {
  margin-top: 40px;
  width: 100%;
}

.section-popular {
  margin-top: 60px;
}

.section-order {
  margin-top: 60px;
}

.section-vacancy {
  width: 801px;
  margin: 116px auto;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);

  &__block {
    background-color: #ffffff;
    border-radius: 6px 6px 0 0;
    padding: 40px;
    font-size: 26px;
  }
}

.section-tab {
  margin-top: 60px;
  position: relative;
}

.tabs {
  display: flex;

  &tabs::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: #ac5b0b;
    transform-origin: bottom;
    transition: 0.2s;
  }

  &__nav-btn {
    padding: 13px 0;
    margin-right: 40px;
    display: block;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    opacity: 0.65;
  }

  &__nav-btn.active:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0px;
    border-radius: 6px;
    right: 10px;
    background: #f0af3b;
    transform-origin: bottom;
    transition: 0.2s;
  }

  &__nav-btn.active {
    color: #000000;
  }

  &__line {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 2px;
    top: 44px;
  }
}

.block-card {
  display: none;

  &.active {
    display: flex;
  }
}

.ui-accordion {
  &__head {
    position: relative;
    background-color: #ffffff;
    padding: 26px 40px;
    border-top: solid 2px #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: " ";
      background-image: url("~@assets/icon/icon-close.svg");
      display: flex;
      align-items: center;
      position: absolute;
      width: 30px;
      height: 30px;
      right: 20px;
    }
  }

  &__body {
    overflow: hidden;

    &--animate {
      transition: 0.3s;
    }
  }

  &__inner {
    padding: 20px 40px;
    background-color: #ffffff;
  }

  &--closed {
    .ui-accordion {
      &__head {
        &::after {
          content: " ";
          background-image: url("~@assets/icon/icon-open.svg");
        }
      }
    }
  }

  &__text {
    display: flex;
    margin-top: 10px;
  }
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;

  &__block {
    cursor: auto;
    position: absolute;
    background: #fff;
    padding: 60px 50px 50px 50px;
    left: 50%;
    top: 50%;
    width: 447px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }

  &__close {
    position: absolute;
    top: 23px;
    right: 23px;
  }

  &__heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 34px;
    font-size: 26px;
  }

  &__title {
    font-size: 26px;
  }
}

.open-popup {
  display: block;
}

.section-map {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 40px 40px 40px 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);

  &__block {
    display: flex;
    margin-bottom: 50px;
  }

  &__map {
    width: 1165px;
    height: 463px;
    background-color: #f6f6f6;
  }
}

.slider-popular {
  overflow: visible;
  max-width: 1920px;
}

.order-block {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 30px 40px;
  margin-bottom: 18px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);

  &__addresses {
    display: flex;
  }

  &__section {
    display: flex;
    max-width: 566px;
  }

  &__address {
    padding: 20px;
    border-radius: 6px;
    background-color: #f7f7f7;
    width: 350px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 21px 0px 0px;
  }

  &__text {
    width: 288px;
    height: 24px;
    overflow: hidden;
  }
}

.card-menu {
  border-radius: 6px;
  background-color: #ffffff;
  padding: 30px 40px 30px 60px;
  display: flex;
  justify-content: space-between;
  height: 220px;
  font-size: 26px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;

  &__bg-orange {
    position: absolute;
    background-image: url("~@assets/icon/icon-card-bg-orange.svg");
    width: 81px;
    height: 81px;
    top: -15%;
    left: -7%;
  }

  &__bg-green {
    position: absolute;
    background-image: url("~@assets/icon/icon-card-bg-green.svg");
    width: 27px;
    height: 27px;
    top: 92%;
    left: -2%;
  }

  &__bg-pink {
    position: absolute;
    background-image: url("~@assets/icon/icon-card-bg-pink.svg");
    width: 108px;
    height: 108px;
    top: 75%;
    left: 92%;
  }
}

.card-order {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  display: flex;
  height: 106px;
  border-bottom: solid 2px #f7f7f7;

  &__img {
    max-width: 107px;
    max-height: 82px;
  }

  &__info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  &__icon {
    width: 19px;
    height: 17px;
    margin: 0 30px 10px 0;
  }

  &__img-icon {
    display: flex;
    align-items: center;
    margin-right: 22px;
  }
}

.text-account {
  font-size: 12px;
  margin-top: 14px;
}

.final-price {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  &__total {
    color: #f0af3b;
    font-size: 26px;
  }
}

.account-info {
  display: flex;
}

.account-block {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 30px 40px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);

  &__avatar {
    margin-right: 30px;
  }

  &__text {
    margin-bottom: 16px;
  }
}

.icon-block {
  display: flex;
  flex-direction: column;
}

.account-gray-block {
  padding: 30px 100px 43px 30px;
  background-color: #f7f7f7;
  border-radius: 6px;

  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__numbers {
    font-size: 26px;
    margin-right: 5px;
  }
}

.button {
  border-radius: 6px;
  padding: 19px 45px 17px 45px;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgba(240, 175, 59, 1);
  color: #ffffff;
  box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.07), 0px 15px 30px rgba(240, 175, 59, 0.2);
  z-index: 2;
  justify-content: center;

  &-white {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 6px;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
  }

  &-transparent {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    border: 2px solid #f7f7f7;
    border-radius: 6px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
    position: relative;
  }

  &-transparent.active {
    border: 2px solid #f0af3b;

    &:after {
      content: "";
      background-image: url("~@assets/icon/icon-button-on.svg");
      width: 26px;
      height: 26px;
      position: absolute;
      top: -14px;
      right: -10px;
    }
  }

  &-with-icon {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    border: 2px solid #f7f7f7;
    border-radius: 6px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    position: relative;
  }

  &-with-icon.active {
    border: 2px solid #f0af3b;
  }

  &__pop-up {
    width: 100%;
    text-align: center;
  }
}

.button-cross {
  background-color: #f7f7f7;
  border-radius: 6px;
  width: 40px;
  height: 40px;
  padding: 14px;

  &__img {
    background-image: url("~@assets/icon/icon-cross.svg");
    width: 12px;
    height: 12px;
  }
}

.button-delete {
  background-color: #ffffff;
  border-radius: 6px;
  width: 22px;
  height: 22px;
  padding: 7px;

  &__img {
    background-image: url("~@assets/icon/icon-cross-acc.svg");
    width: 8px;
    height: 8px;
  }
}

.button-star {
  background-image: url("~@assets/icon/icon-star.svg");
  width: 20px;
  height: 18px;

  &.active {
    background-image: url("~@assets/icon/icon-star-on.svg");
  }
}

.like-block {
  display: flex;
  align-items: center;
}

.number {
  border: 2px dashed #9999;
  padding: 14px 20px;
  border-radius: 6px;
  margin-right: 30px;
}

.icon-logo {
  width: 114px;
  height: 21;
}

.work-hours {
  margin-right: 30px;
  margin-top: 12px;
}

.baner-heading {
  max-width: 524px;
  margin-bottom: 25px;
}

.background-grey {
  background-color: #9999;
}

.footer {
  margin-top: 60px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  padding: 50px 44px;
  justify-content: space-between;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);

  &__center {
    display: flex;
  }
}

.price {
  display: flex;
  align-items: center;
  height: 41px;

  &__bg {
    background-image: url("~@assets/icon/icon-price.svg");
    width: 102.5px;
    height: 40px;
    padding: 9px 0px 0px 40px;
  }

  &__sum-card {
    background-image: url("~@assets/icon/icon-price-card.svg");
    width: 93px;
    height: 35px;
    padding: 6px 0px 0px 33px;
  }
}

.btn-add-cart {
  display: flex;
  align-items: center;
  height: 65px;
  z-index: 2;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  &__plus {
    background-image: url("~@assets/icon/icon-plus.svg");
    width: 18px;
    height: 18px;
  }

  &__minus {
    background-image: url("~@assets/icon/icon-minus.svg");
    width: 18px;
    height: 18px;
  }

  &__count {
    margin: 0 10px;
  }
}

.rtg {
  width: 47px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 6px;
  position: absolute;
  box-shadow: 0px 10px 45px rgb(149 149 149 / 22%);
}

.rtg-slider {
  background-color: #f7f7f7;
  border-radius: 8px;
  width: 633px;
  height: 418px;
  position: absolute;
  right: 51px;
  top: 50px;
}

.slide-baner {
  display: flex;
  align-items: center;
  margin-bottom: 49px;

  &__img {
    margin-right: 36px;
    width: 281px;
    height: 254px;
    object-fit: contain;
  }
}

.slider-baner {
  width: 584px;
  margin-right: 180px;
}

.pagination-baner {
  margin-left: 18%;
}

.swiper-pagination-bullet {
  width: 46px;
  height: 5px;
  border-radius: 6px;
  background-color: #adadad;
}

.swiper-pagination-bullet-active {
  background-color: #f0af3b;
}

.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-width {
  width: 391px;
}

.product-card {
  height: 548px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 40px 40px 46px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__img {
    position: absolute;
    top: 45px;
    left: 32%;
    margin-bottom: 33px;
    width: 171px;
    height: 177px;
    object-fit: contain;
  }

  &__like {
    display: flex;
    align-items: center;
  }
}

.icon-like {
  background-image: url("~@assets/icon/icon-like.svg");
  width: 19px;
  height: 17px;

  &.active {
    background-image: url("~@assets/icon/icon-like-on.svg");
  }
}

.swiper-scrollbar-drag {
  border-radius: 10px;
  position: relative;
  height: 8px;
  top: -2px;
  -ms-touch-action: none;
  background: #f0af3b;
  cursor: pointer;
}

.scrollbar-popular {
  position: absolute;
  left: 37%;
  bottom: -33px;
  z-index: 50;
  height: 4px;
  width: 30%;
  border-radius: 4px;
  background: rgba(64, 64, 64, 0.1450980392);
}

.text-description {
  height: 48px;
  width: 284px;
}

.rtg-white {
  padding: 16px;
  height: 46px;
  background: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  margin-right: 20px;

  &:nth-child(5) {
    margin-right: 0px;
  }
}

.filter {
  margin-top: 40px;
  display: flex;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 40px;

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
    margin-left: 80px;
  }

  &__line {
    position: absolute;
    width: 2px;
    height: 120px;
    background: #f7f7f7;
    top: 0px;
    left: 736px;
  }

  &__mob {
    display: none;
  }
}

.ui-input {
  border: 2px solid #f5f5f5;
  border-radius: 6px;
  width: 100%;
  padding: 14px 20px;
  font-family: "Roboto", sans-serif;
  color: #404040;
  font-size: 14px;

  &:focus {
    border: 2px solid #f0af3b;
  }

  &--error {
    border: 2px solid #f8a2a2;
  }

  &--success {
    border: 2px solid #4cbe66;
  }
}

.input-number {
  &:focus {
    border: 2px solid #f0af3b;
  }

  &--error {
    border: 2px solid #f8a2a2;
  }

  &--success {
    border: 2px solid #4cbe66;
  }
}

.navigation {
  display: flex;
  margin-top: 50px;
  justify-content: center;

  &__tab {
    padding: 10px;
    border: 2px solid #e6e6e6;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
    border-radius: 6px;
    width: 46px;
    height: 46px;
    font-family: "Igra Sans";
    font-size: 14px;
    line-height: 14px;
  }

  &__tab.active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
    color: #f0af3b;
    background-color: #ffffff;
    border: 0px solid #e6e6e6;
  }

  &__arrows {
    padding: 10px;
    border: 2px solid #e6e6e6;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 10px;
    border-radius: 6px;
    width: 46px;
    height: 46px;
    font-family: "Igra Sans";
    font-size: 14px;
    line-height: 14px;
  }
}

.slider-positions {
  margin-top: 40px;

  &__slide {
    display: none;
  }

  &__slide.active {
    display: flex;
  }
}

.next {
  padding: 10px;
  border: 2px solid #e6e6e6;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 10px;
  border-radius: 6px;
  width: 46px;
  height: 46px;
  font-family: "Igra Sans";
  font-size: 14px;
  line-height: 14px;
}

.people_list {
  margin-top: 40px;
  flex-wrap: wrap;
  display: flex;
}

.flex-direction {
  flex-direction: row;
}

@media (min-width: 1440px) {
  .footer-adaptive {
    display: none;
  }
}

@media (max-width: 1440px) {
  .filter {
    padding: 20px 25px;
    &__mob {
      display: flex;
    }

    &__mob-text {
      font-weight: 16px;
      margin-right: 30px;
    }

    &__left {
      display: none;
    }

    &__line {
      display: none;
    }

    &__right {
      display: none;
    }
  }

  .header {
    &__center {
      display: none;
    }
  }

  .footer {
    display: none;
  }

  .footer-adaptive {
    margin-top: 60px;
    border-radius: 6px;
    background-color: #fff;
    padding: 50px 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__center {
      margin-top: 30px;
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
  }

  .order-block {
    padding: 20px;

    &__address {
      width: 100%;
      margin: 0 0 10px 0;
    }

    &__addresses {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1100px) {
  .heading {
    font-size: 20px;
    margin: 22px 0 30px 0;
  }

  .icon-logo {
    display: none;
  }

  .section-map {
    padding: 20px 40px;

    &__map {
      display: none;
    }
  }

  .section-big {
    background-color: #fff;
    border-radius: 6px;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;

    &__right {
      display: none;
    }

    &__logo-adaptive {
      display: block;
    }

    &__left {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .rtg-slider {
    display: none;
  }

  .header-namber {
    display: none;
  }

  .work-hours {
    display: none;
  }

  .baner-heading {
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 23px;
    max-width: 278px;
    line-height: 22px;
  }

  .button {
    border-radius: 6px;
    padding: 17px 20px;
    font-weight: 400;
    width: 100%;

    &-white {
      background-color: rgb(255, 255, 255);
      color: #000000;
      border-radius: 6px;
      padding: 14px 20px;
      display: flex;
      align-items: center;
      z-index: 2;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
    }

    &-transparent {
      background-color: rgba(255, 255, 255, 0);
      padding: 10px 20px;
      border: 2px solid #f7f7f7;
      border-radius: 6px;
      margin-right: 15px;
      font-family: "Roboto", sans-serif;
      position: relative;
    }
  }

  .rtg-white {
    margin-right: 10px;

    &:nth-child(5) {
      margin-right: 0px;
    }
  }
}

@media (max-width: 850px) {

  .roboto {
    &-16 {
      font-size: 14px;
    }
  }

  .igra {
    &-26 {
      font-size: 14px;
    }

    &-12 {
      font-size: 12px;
    }

    &-20 {
      font-size: 16px;
    }

    &-16 {
      font-size: 14px;
    }
  }

  .m {
    &-b-10 {
      margin-bottom: 5px;
    }

    &-b-15 {
      margin-bottom: 5px;
    }

    &-b-20 {
      margin-bottom: 10px;
    }

    &-t-30 {
      margin-top: 20px;
    }
  }

  .section-order {
    margin-top: 22px;
  }

  .section-vacancy {
    width: 100%;
    margin: 116px auto;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);

    &__block {
      background-color: #ffffff;
      border-radius: 6px 6px 0 0;
      padding: 40px;
      font-size: 26px;
    }
  }

  .text-description {
    width: 250px;
  }

  .btn-add-cart {
    height: 50px;

    &__block {
      margin: 0 15px 0 0;
    }
  }

  .popup {

    &__title {
      font-size: 20px;
    }

    &__block {
      padding: 50px 30px;
      width: 322px;
    }
  }

  .ui-input {
    width: 100%;
  }

  .input-order {
    width: 285px;
  }

  .swiper-slide {
    max-width: 300px;
  }

  .product-card {
    height: 381px;
    padding: 25px;
    margin-bottom: 9px;

    &__img {
      width: 108px;
      height: 112px;
      top: 6%;
      left: 35%;
      object-fit: contain;
    }
  }

  .card-order {

    &__img {
      max-width: 56px;
      max-height: 34px;
    }

    &__img-icon {
      flex-direction: column-reverse;
      min-width: 54px;
    }

    &__icon {
      margin: 2px 4px;
    }

    &__info {
      display: block;
      width: 100%;
    }
  }

  .icon-block {
    margin: 0 0 0 0;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .section-popular {
    margin-top: 40px;
    overflow: hidden;
  }

  .card-menu {
    border-radius: 6px;
    background-color: #ffffff;
    padding: 25px;
    display: block;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    height: 100px;
    margin-bottom: 10px;

    &__img {
      width: 82px;
      height: 70px;
      position: absolute;
      right: -43px;
      top: 17px;
    }

    &__bg-orange {
      display: none;
    }

    &__bg-green {
      display: none;
    }

    &__bg-pink {
      display: none;
    }
  }

  .account-block {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 18px;
    flex-wrap: wrap;

    &__avatar {
      margin-right: 20px;
      height: 40px;
      width: 40px;
    }

    &__text {
      margin-bottom: 14px;
    }
  }

  .account-gray-block {
    padding: 30px 100px 43px 30px;
    width: 100%;
    margin-top: 16px;

    &__numbers {
      font-size: 26px;
    }
  }

  .h2 {
    font-size: 20px;
    margin-bottom: 22px;
    font-family: "Igra Sans";
    color: #404040;
  }

  .text-account {
    font-size: 12px;
    margin-top: 14px;
  }

  .button {
    padding: 14.5px 20px;
  }

  .order-block {
    &__section {
      flex-wrap: wrap;
    }
  }
}
