{{> ../../components/wrap-header.hbs}}

{{> ../../components/pop-up.hbs}}

<div class="igra heading">Контакты</div>
<section class="section-map">
  <div>
    <div class="section-map__block m-t-20">
      <img class="m-r-30" src="@assets/icon/icon-map.svg" alt="">
      <div>
        <div class="igra igra-12 igra-grey m-b-10">АДРЕС</div>
        <div class="roboto ">г. Саратов, ул. Московская, 56</div>
      </div>
    </div>

    <div class="section-map__block">
      <img class="m-r-30" src="@assets/icon/icon-telephone.svg" alt="">
      <div>
        <div class="igra igra-12 igra-grey m-b-10">ТЕЛЕФОН</div>
        <div class="roboto ">7 (495) 450-600</div>
        <div class="roboto ">7 (901) 341- 54-30</div>
      </div>
    </div>

    <div class="section-map__block">
      <img class="m-r-30" src="@assets/icon/icon-email.svg" alt="">
      <div>
        <div class="igra igra-12 igra-grey m-b-10">E-MAIL</div>
        <div class="roboto roboto-orange ">info@oishi-sushi.ru</div>
      </div>
    </div>

    <div class="section-map__block">
      <img class="m-r-30" src="@assets/icon/icon-time.svg" alt="">
      <div>
        <div class="igra igra-12 igra-grey m-b-10">РЕЖИМ РАБОТЫ</div>
        <div class="roboto ">Ежедневно с 9:00 до 00:00</div>
      </div>
    </div>
  </div>
  <div class="section-map__map"><script class="test" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A35bac802a6b0ff9ea2de5edd45c68c24890dc2ce611ee5a89c21a139259b12ed&amp;max-width=1165&amp;height=463&amp;lang=ru_RU&amp;scroll=true"></script></div>

</section>


{{> ../../components/wrap-footer.hbs}}