{{> ../../components/wrap-header.hbs}}


{{> ../../components/pop-up.hbs}}

<div class="igra heading">Контакты</div>
<section class="section-map">
  <div>
    <div class="section-map__block m-t-20">
      <img class="m-r-30" src="@assets/icon/icon-map.svg" alt="">
      <div>
        <div class="igra igra-12 igra-grey m-b-10">АДРЕС</div>
        <div class="roboto ">г. Москва, ул. Московская, 56</div>
      </div>
    </div>

    <div class="section-map__block">
      <img class="m-r-30" src="@assets/icon/icon-telephone.svg" alt="">
      <div>
        <div class="igra igra-12 igra-grey m-b-10">ТЕЛЕФОН</div>
        <div class="roboto ">7 (495) 450-600</div>
        <div class="roboto ">7 (901) 341- 54-30</div>
      </div>
    </div>

    <div class="section-map__block">
      <img class="m-r-30" src="@assets/icon/icon-email.svg" alt="">
      <div>
        <div class="igra igra-12 igra-grey m-b-10">E-MAIL</div>
        <div class="roboto roboto-orange ">info@oishi-sushi.ru</div>
      </div>
    </div>

    <div class="section-map__block">
      <img class="m-r-30" src="@assets/icon/icon-time.svg" alt="">
      <div>
        <div class="igra igra-12 igra-grey m-b-10">РЕЖИМ РАБОТЫ</div>
        <div class="roboto ">Ежедневно с 9:00 до 00:00</div>
      </div>
    </div>
  </div>
  <div class="section-map__map"></div>

</section>

{{> ../../components/wrap-footer.hbs}}