<div class="card-order">
  <div class="card-order__img-icon">
    <div class="icon-block">
      <img class="m-b-10 card-order__icon" src="@assets/icon/icon-star.svg" alt="">
      <img class="m-b-10 card-order__icon" src="@assets/icon/icon-vegi.svg" alt="">
      <img class="m-b-10 card-order__icon" src="@assets/icon/icon-hot.svg" alt="">
    </div>
    <div><img class="card-order__img " src="@assets/img/img-filadelphia.jpg" alt=""></div>
  </div>

  <div class="card-order__info">
    <div class="">
      <h3 class="igra igra-12 igra-grey m-b-10">{{group}}</h3>
      <h3 class="igra igra-20 m-b-15">{{title}}</h3>
    </div>
    <div class="display-flex">
      <div class="btn-add-cart__block m-r-60 flex-direction">
        <button class="btn-add-cart__plus"></button> <span class="btn-add-cart__count igra"> 1 </span>
        <button class="btn-add-cart__minus"></button>
      </div>
      <div class="igra igra-20"> {{price}}</div>
    </div>
  </div>
  <button class="button-cross">
    <div class="button-cross__img"></div>
  </button>
</div>