<footer class="footer">
  <div class="footer__left">
    <div class="roboto roboto-grey m-b-5">© 2017 OishīSushi</div>
    <a class="igra igra-12 igra-orange" href="#">Согласие на обработку персональных данных</a>
  </div>

  <div class="footer__center">
    <a class="m-r-75" href="#">
      <div class="roboto roboto-grey">АДРЕС</div>
      <div class="roboto">г. Москва, ул. Московская, 56</div>
    </a>
    <a class="m-r-30" href="#">
      <div class="roboto roboto-grey">ТЕЛЕФОН</div>
      <div class="roboto">7 (495) 450 - 600</div>
    </a>
    <a href="#">
      <div class="igra igra-12 igra-orange m-t-20">Обратная связь</div>
    </a>
  </div>
  
  <div class="footer__right">
    <a href="#" class="m-r-20"> <img src="@assets/icon/icon-vk.svg" alt=" "> </a>
    <a class="m-r-20" href="#"> <img src="@assets/icon/icon-ok.svg" alt=" "> </a>
    <a class="m-r-20" href="#"> <img src="@assets/icon/icon-fb.svg" alt=" "> </a>
    <a class="m-r-20" href="#"> <img src="@assets/icon/icon-inst.svg" alt=" "> </a>
  </div>
</footer>

<footer class="footer-adaptive">
  <div class="footer-adaptive__top">
    <a class="footer-adaptive__top" href="#">
      <div class="roboto roboto-grey">ТЕЛЕФОН</div>
      <div class="roboto">7 (495) 450 - 600</div>
    </a>
    <a href="#">
      <div class="igra igra-12 igra-orange m-t-20">Обратная связь</div>
    </a>
    <a class="footer-adaptive__top m-t-30" href="#">
      <div class="roboto roboto-grey">АДРЕС</div>
      <div class="roboto">г. Москва, ул. Московская, 56</div>
    </a>
  </div>

  <div class="footer-adaptive__center">
    <a href="#" class="m-r-20"> <img src="@assets/icon/icon-vk.svg" alt=" "> </a>
    <a class="m-r-20" href="#"> <img src="@assets/icon/icon-ok.svg" alt=" "> </a>
    <a class="m-r-20" href="#"> <img src="@assets/icon/icon-fb.svg" alt=" "> </a>
    <a href="#"> <img src="@assets/icon/icon-inst.svg" alt=" "> </a>
  </div>
  
  <div class="footer-adaptive__bottom">
    <div class="roboto roboto-grey m-b-5">© 2017 OishīSushi</div>
    <a class="igra igra-12 igra-orange" href="#">Согласие на обработку персональных данных</a>
  </div>
</footer>