<header class="header">
  <div class="header__left">
    <button class="button igra igra-12"><img class="m-r-10" src="@assets/icon/icon-hamburger.svg">МЕНЮ</button><a
      href="http://localhost:8080/main#"><img class="icon-logo m-l-20" src="@assets/icon/icon-logo.svg" alt=" "></a>

  </div>
 
  <div class="header__center">
    <a href="#" class="roboto roboto-14 roboto-fw-medium m-r-50">Условия доставки</a>
    <a href="#" class="roboto roboto-14 roboto-fw-medium m-r-50">Акции</a>
    <a href="http://localhost:8080/vacancy#" class="roboto roboto-14 roboto-fw-medium m-r-50">Вакансии</a>
    <a href="http://localhost:8080/map#" class="roboto roboto-14 roboto-fw-medium m-r-50">Контакты</a>
  </div>
  <div class="header__right">
    <div class="work-hours">
      <div class="igra igra-12 igra-grey">Прием заказов</div>
      <div class="roboto roboto-14 roboto-fw-medium">9:00 — 00:00</div>
    </div>

    <a class="header-namber" href="#">
      <div class="number roboto roboto-14 roboto-fw-medium"> <img class="m-r-15" src="@assets/icon/icon-phone.svg"
          alt=" ">
        7
        (495) 450 - 600</div>
    </a>

    
      <button class="rtg-white person">
        <img src="@assets/icon/icon-person.svg" alt=" "></button>

  

    <a class="rtg-white" href="#">

      <img src="@assets\icon\icon-like.svg" alt="">

    </a>

    <a class="rtg-white" href="http://localhost:8080/order#">

      <span class="roboto-14 roboto-fw-medium m-r-5">770 ₽</span>
      <img class="" src="@assets/icon/basket-icon.svg" alt=" ">

    </a>
</header>