<header class="header">
  <div class="header__left">
    <a href="/main"><img
        class="icon-logo"
        src="@assets/icon/icon-logo.svg"
        alt=" "
      /></a>
  </div>

  <div class="header__center">
    <a href="#" class="roboto roboto-14 roboto-fw-medium header__text">Условия
      доставки</a>

    <a href="#" class="roboto roboto-14 roboto-fw-medium header__text">Акции</a>

    <a
      href="/vacancy"
      class="roboto roboto-14 roboto-fw-medium header__text"
    >Вакансии</a>

    <a
      href="/map"
      class="roboto roboto-14 roboto-fw-medium header__text"
    >Контакты</a>
  </div>

  <div class="header__right">
    <div class="work-hours">
      <div class="igra igra-12 igra-grey">Прием заказов</div>
      <div class="roboto roboto-14 roboto-fw-medium">9:00 — 00:00</div>
    </div>
    <a class="header-number" href="tel:+7(495) 450 - 600">
      <div class="number roboto roboto-14 roboto-fw-medium">
        7(495) 450 - 600</div>
    </a>
    <button class="rtg-white person">
      <img src="@assets/icon/icon-person.svg" alt=" " />
    </button>
    <a class="rtg-white" href="#">
      <img src="@assets\icon\icon-like.svg" alt=" " />
    </a>
    <a class="rtg-white" href="/order">
      <p class="roboto-14 roboto-fw-medium m-r-5">770 ₽</p>
      <img src="@assets/icon/basket-icon.svg" alt=" " />
    </a>
  </div>
</header>