<div class="popup">
  <div class="popup__block">
    <button class="popup__close"> <img src="@assets/icon/icon-popup-close.svg" alt=""> </button>
    <div class="popup__heading">
      <div class="igra popup__title">Вход</div> <a class="igra igra-orange" href="#">Регистрация</a>
    </div>
    <div class="igra igra-12 order-text-after m-b-5">Номер телефона </div>
    <input class="ui-input m-b-30 js-phone-mask input-number" type="text">
    <div class="igra igra-12 order-text-after m-b-5">Пароль</div>
    <input class="ui-input m-b-30" type="password">
    <button class="button button__pop-up">Войти</button>
    <button class="igra igra-12 igra-orange button__pop-up m-t-30">Забыли пароль?</button>
  </div>
</div>