{{> ../../components/wrap-header.hbs}}

<section class="section-order">
  <h2 class="igra heading">Личный кабинет</h2>
  <div class="row">

    <div class="col-xs-12
    col-lg-6">
      <div class="account-block">
        <div class="display-flex">
          <img class="account-block__avatar" src="@assets\img\img-avatar.jpg" alt=" ">
          <div>
            <div class="igra igra-20 m-b-5">Олег Хамитов</div>
            <div class="roboto riboto-14 roboto-grey m-b-14">7 (901) 324 - 98 - 12</div>
            <a href=" ">
              <div class="igra igra-12 igra-green account-block__text ">Редактировать профиль</div>
            </a>
            <a href=" ">
              <div class="igra igra-12 igra-red account-block__text">Закрыть</div>
            </a>
          </div>
        </div>
        <div class="account-gray-block">
          <div class="igra igra-12 m-b-12">У Вас</div>
          <div class="account-gray-block__price">
            <div class="igra account-gray-block__numbers">397</div>
            <img class="m-r-10" src="@assets/icon/icon-currency.svg" alt="">
            <div class="igra">бонусов</div>
          </div>
          <div class="account-gray-block__price">
            <img class="m-r-10" src="@assets/icon/icon-info.svg" alt="">
            <div class="roboto roboto-14 roboto-grey">1
              <img src="@assets/icon/icon-currency-gray.svg" alt=""> равен 1₽
            </div>
          </div>
          <a href=" ">
            <div class="igra igra-12 igra-orange">Как копятся бонусы?</div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xs-12
    col-lg-6">
      <div class="order-block">
        <div class="igra igra-20 m-b-30">Мои адреса</div>
        <div class="order-block__addresses">
          <div class="order-block__address">
            <div class="order-block__text roboto roboto-fw-medium"> ул. Московская, д. 54, кв. 91 </div>
            <button class="button-delete">
              <div class="button-delete__img"></div>
            </button>
          </div>
          <div class="order-block__address">
            <div class="order-block__text roboto roboto-fw-medium"> ул. Московская, д. 54, кв. 91 </div>
            <button class="button-delete">
              <div class="button-delete__img"></div>
            </button>
          </div>
        </div>
        <a href="">
          <div class="igra igra-12 igra-orange m-t-20 m-b-50">Добавить адрес</div>
        </a>
      </div>
    </div>

  </div>
</section>

<section class="section-tab">

  <div class="tabs">
    <div class="tabs__nav-btn igra igra-20 active" data-tab="#tab-all"> Избранное</div>
    <div class="tabs__nav-btn igra igra-20" data-tab="#tab-banquet"> История заказов</div>
    <img class="tabs__line" src="@assets/icon/icon-line-tab.svg" alt="">
  </div>

  <div id="tab-all" class="block-card active">
    <ul class="people_list row">
      {{#each cards-favourites}}
      <div class="
    col-xs-12
    col-sm-6
    col-md-4
    col-lg-3">
        {{> ../../components/card.hbs}}
      </div>
      {{/each}}
    </ul>
  </div>

  <div id="tab-banquet" class="block-card">
    <ul class="people_list row">
      {{#each cards-order-history}}
      <div class="
       col-xs-12
        col-sm-6
       col-md-4
       col-lg-3">
        {{> ../../components/card.hbs}}
      </div>
      {{/each}}
    </ul>
  </div>

</section>

{{> ../../components/wrap-footer.hbs}}